{% extends 'base.html' %}

{% block content %}
{{ super() }}
<!--Мгновенные сообщения-->
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<!--Форма добавления достижений, в урл_фор прописываем имя ФУНКЦИИ представления-->
<form action="{{url_for('achievements')}}" method="post" class="form-achievements">
<!--  <p><label>Пользователь: </label> <input type="text" name="username" value="" required />-->
  <p><label>Достижение: </label> <input type="text" name="title" value="" required />
  <p><label>Баллы: </label> <input type="text" name="points" value="" required />
  <p><label>Описание: </label>
  <p><textarea name="description" rows="7" cols=40></textarea>
  <p><input type="submit" value="Отправить" />
</form>
    {% endblock %}
